ETCD_NAME=k8s-etcd-node
ETCD_DATA_DIR=/var/lib/etcd
ETCD_LISTEN_CLIENT_URLS=https://172.22.1.8:2379,https://127.0.0.1:2379
ETCD_LISTEN_PEER_URLS=https://172.22.1.8:2380
ETCD_ADVERTISE_CLIENT_URLS=https://172.22.1.8:2379
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://172.22.1.8:2380
ETCD_INITIAL_CLUSTER=k8s-etcd-node=https://172.22.1.8:2380
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster
ETCD_CLIENT_CERT_AUTH=true
ETCD_TRUSTED_CA_FILE=/etc/ssl/ca.pem
ETCD_CERT_FILE=/etc/ssl/etcd.pem
ETCD_KEY_FILE=/etc/ssl/etcd-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/ca.pem
ETCD_PEER_CERT_FILE=/etc/ssl/etcd.pem
ETCD_PEER_KEY_FILE=/etc/ssl/etcd-key.pem
